.redirect {
    background-color: #202020;
    border-radius: 10px;
    border: 10px ridge #00ff00;

    margin: 1%;
    padding: 30px;

    font-size: 30px;
    color:white;
}
.redirect:hover {
    background-color: #1a1a1a;
    color: #eeeeee;
}
.redirect:active {
    background-color: #252525;
}